<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div th:fragment="sidebar">
			
      <!-- without bg-success-->
    <div class="mini-submenu">
        <span class="icon-bar "></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div class="list-group  ">
        <span href="#" class="list-group-item list-group-item-success">
            Topics
            <span class="pull-right" id="slide-submenu">
                <i class="fa fa-times"> </i>
            </span>
        </span>
        <br>
        <a href="#" class="list-group-item list-group-item-dark ">
            Operators
        </a>
        <a href="#" class="list-group-item list-group-item-dark">
            Datasets
        </a>
        <a href="#" class="list-group-item list-group-item-dark">
            Variables
        </a>
    </div>

	</div>
	
</body>
</html>